:root {
    font-size: calc(1rem + 0.25vw);
    --white-shade: #fafafa;
    --dark-grey: #3b3b3b;
}

*{
    color: var(--white-shade);
    overflow: hidden;
}

main {
    background-color: var(--dark-grey);
}
