main#section {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2em;
    padding: 2em 2em 0;
    color: var(--white-shade);
}

main#section > :first-child{
    align-self: flex-start;
}

main#section section{
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    width: 100%;
}

main#section section > div{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    column-gap: 2em;
    width: 100%;
}

main#section .progress{
    flex-grow: 1;
}

main#section .progress ol{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    text-align: center;
}

main#section .progress li{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.25em;
    text-transform: uppercase;
    font-family: 'Inria-Sans-Regular', sans-serif;
    font-size: 1.25em;
}

main#section .progress li::after{
    content: '';
    height: 10px;
    width: 5px;
    border-radius: 5px;
    background-color: var(--white-shade);
}

main#section .progress hr{
    height: 5px;
    margin: 0;
    border: none;
    border-radius: 5px;
    background-color: var(--grey-shade);
}

main#section .progress ol hr{
    position: absolute;
    height: 9px;
    width: 100%;
    bottom: -7px;
    background-color: var(--white-shade);
}

main#section div + div{
    text-align: right;
}

main#section h2{
    font-size: 2em;
    font-family: 'Inknut-Antiqua-Regular', serif;
}

main#section h3{
    font-size: 1.5em;
    font-family: 'Inria-Sans-Regular', sans-serif;
    color: var(--light-grey);
}

main#section article{
    height: 45vh;
    overflow: scroll;
    text-align: justify;
    line-height: 1.5em;
    padding-right: 1em;
}

.choices{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 1em;
    margin-top: 2em;

}

.choices > button{
    margin: 0;
    padding: 0.5em 1em;
    font-size: 1.25em;
    font-family: 'Inria-Sans-Regular', sans-serif;
    text-transform: uppercase;
    background-color: var(--grey-button);
    color: var(--black-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
