main#section {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2em;
    padding: 2em 2em 0;
    color: var(--white-shade);
}

main#section > :first-child{
    align-self: flex-start;
}

main#section section{
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    width: 100%;
}

main#section article{
    height: 45vh;
    overflow: scroll;
    text-align: justify;
    line-height: 1.5em;
    padding-right: 1em;
}

main .loader {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
main .loader.fade-out {
    opacity: 0;
}