.characterSheetBig h2, .characterSheetMedium h2, .characterSheetSmall h2{
    font-family: Inknut-Antiqua-Regular, sans-serif;
}

.characterSheetBig, .characterSheetMedium, .characterSheetSmall{
    font-family: Inria-Sans-Regular, sans-serif;
}

.characterSheetBig img, .characterSheetMedium img, .characterSheetSmall img{
    border-radius: 10px;
}

.characterSheetBig:hover, .characterSheetMedium:hover, .characterSheetSmall:hover{
    box-shadow: 0 0 10px var(--white-shadow);
}

.characterSheetBig{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    background-color: var(--black-shade);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--black-shade);
    transition: all 0.3s;
    padding: 1em;
    column-gap: 0.5em;
    width: 32em;
}

.characterSheetBig > div{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    column-gap: 1em;
}

.characterSheetBig > div > :first-child{
    align-self: center;
}

.characterSheetBig > div > :last-child{
    align-self: center;
}

.characterSheetBig section{
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}

.characterSheetBig section > ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16em;
}

.characterSheetBig section > ul > li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;
    width: 14em;
    text-transform: uppercase;
}

.characterSheetBig img{
    width: 8em;
    height: 8em;
    border-radius: 10px;
}

.characterSheetBig.selected{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5em;
    padding: 1em;
}

.characterSheetBig article{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    column-gap: 1em;
}

.characterSheetBig article > p{
    text-align: justify;
    line-height: 1.5em;
}

.characterSheetBig article > :last-child{
    align-self: center;
}

.characterSheetBig button{
    border-radius: 5px;
    padding: 0.5em;
    cursor: pointer;
    transition: all 0.3s;
    height: 3em;
}


.arrowWhite{
    width: 6em;
    height: 6em;
    transform: rotate(-90deg);
    fill: var(--white-shade);
    transition: all 0.3s;
}

.characterSheetBig.selected .arrowWhite{
    transform: rotate(0deg);
    transition: all 0.3s;
}

/* character Sheet Medium */

.characterSheetMedium{
    display: flex;
    background-color: var(--black-shade);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--black-shade);
    flex-direction: column;
    align-items: center;
    row-gap: 0.5em;
    padding: 1em;
    width: 16em;
    transition: all 0.3s;
}

.characterSheetMedium ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    gap: 0.75em;
    width: 16em;
}

.characterSheetMedium ul > li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;
    width: 14em;
    text-transform: uppercase;
}


/* character Sheet Small */
.characterSheetSmall{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    background-color: var(--black-shade);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--black-shade);
    padding: 1em;
    column-gap: 0.5em;
    width: 24em;
    min-height: 6em;

    transition: min-height 0.4s;
}

.characterSheetSmall > :first-child{
    align-self: center;
}

.characterSheetSmall > section{
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}

.characterSheetSmall > p, .characterSheetSmall > ul, .characterSheetSmall > hr{
    display: none;
}

.characterSheetSmall > section > ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16em;
}

.characterSheetSmall > section > ul > li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;
    width: 14em;
    text-transform: uppercase;
}

.characterSheetSmall img{
    width: 8em;
    height: 8em;
}

/* Selected CharacterSmall */
.characterSheetSmall.selected{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5em;
    padding: 1em;
    width: 24em;
    min-height: 80vh;

    transition: all 0.3s;
}

.characterSheetSmall.selected > p, .characterSheetSmall.selected > ul, .characterSheetSmall.selected > hr{
    display: block;
}

.selected hr{
    color : var(--white-shade);
    width: 100%;
}

.selected > section{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5em;
    align-items: space-between;
}

.selected ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16em;
}

.selected ul > li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;
    width: 14em;
    text-transform: uppercase;
}

.selected img{
    width: 10em;
    height: 10em;
}

.characterSheetSmall.shake{
    animation: linear;
    animation-name: shake;
    animation-duration: 500ms;
}

@keyframes shake {
0%{
    transform: scale(1.05);
    border: 1px solid red;
}
50%{
    border: 3px solid red;
}
100%{
    transform: scale(1);
    border: 1px solid red;
}
}