.userMenuComponent{
    height: 100%;
    width: 95%;

    display: flex;
    flex-direction: column;
    row-gap: 1em;

    position: relative;
}

.userMenuComponent h2{
    font-size: 1.25em;
    line-height: 1.25;
    max-width: max-content;
}

.userMenuComponent section{
    width: 90%;
    flex-grow: 1;

    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.userMenuComponent hr{
    width: 100%;
    color: #797979;
}

.userMenuComponent .buttonComponent{
    align-self: center;
}
