#dices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
}

#dices ul{
    display: flex;
    justify-content: center;
    cursor: none;
    pointer-events: none;
}

#dices ul li{
    margin-right: 0.75em;
    margin-left: 0.75em;
}

#dices button{
    height: 2em;
}
