aside.slider {
    position: absolute;
    right: 0;
    top: 3rem;

    width: 20vw;
    height: calc(100vh - 3rem);

    padding-top: .5em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    box-shadow: inset 1px 0 5px var(--grey-shade);
}

aside.slider svg{
    cursor: pointer;
    fill: var(--white-shade);
}

aside.slider > svg{
    position: absolute;
    top: 0.5em;
    right: 0.25em;

    z-index: 1;
}