aside.slider {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: 'Inria-Sans-Regular', sans-serif;
    width: 20vw;
    padding-top: .5em;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-left: 1px solid var(--grey-shade);
    background-color: color-mix(in srgb, var(--dark-grey) 90%, black 10%);
}

aside.slider svg{
    cursor: pointer;
    fill: var(--white-shade);
}

aside.slider > svg{
    position: absolute;
    top: 0.5em;
    right: 0.25em;

    z-index: 1;
}