header#mainHeader {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 1;
    top: 0;
}

header#mainHeader a {
    display: block;
}

header#mainHeader div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

#loppu svg{
    height: 3em;
}

header#mainHeader nav {
    width: 8em;
}

header#mainHeader nav svg {
    width: 1.5em;
    height: 1.5em;
}

header#mainHeader ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul li {
    cursor: pointer;
}

header#mainHeader svg {
    fill: var(--white-shade);
}

header#mainHeader hr {
    height: 2px;
    width: 100%;
    margin: 0;
    border: none;
    background-color: var(--grey-shade);
}
