header {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 1;
    background-color: var(--dark-grey);
}

header a {
    display: block;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

#loppu svg {
    height: 3em;
}

header nav {
    width: 8em;
}

header nav svg {
    width: 1.5em;
    height: 1.5em;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header svg {
    fill: var(--white-shade);
}

header hr {
    height: 2px;
    width: 100%;
    margin: 0;
    border: none;
    background-color: var(--grey-shade);
}
