section#characterSelection{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 2em;
    padding: 1em 2em 0;
    background-color: var(--dark-grey);
    color: var(--white-shade);
}

section#characterSelection h1{
    font-size: 2em;
}

section#characterSelection > #characterSide{
    display: flex;

    flex-direction: column;
    align-items: center;
    row-gap: 2em;
    padding: auto;
}

section#characterSelection > #characterSide > ul{
    display: flex;

    flex-direction: column;
    align-items: center;
    row-gap: 2em;
    padding: auto;

    overflow-y: scroll;
}

section#characterSelection > #descriptionSide{
    display: flex;
    padding-left: 2em;

    flex-direction: column;
    align-items: center;
    row-gap: 2em;
    padding: auto;

}

.imageContainer {
    position: relative;
    width: 100%;
}

.imageContainer .title {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
}

section#characterSelection > #descriptionSide img{
    width: 100%;
    height: 10em;

    border-radius: 5px;
    /* keep aspect ratio */
    object-fit: cover;
}
