.loaderComponent{
    flex-grow: 1;
    width: 200%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.loaderComponent section{
    background-image: url('../../assets/images/loppu.svg');
    background-size: calc((140% / 2) / 6);
    width: 100%;
    height: calc(100% / 6);
    display: flex;
    justify-content: space-between;
    position: absolute;

    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    animation: linear infinite;
    animation-name: run;
}

.loaderComponent section:nth-of-type(1){
    top: calc((1 - 1) * (100% / 6));

    fill: color-mix(in srgb, var(--dark-grey) 80%, white 15%);

    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}
.loaderComponent section:nth-of-type(2){
    top: calc((2 - 1) * (100% / 6));

    fill: color-mix(in srgb, var(--dark-grey) 80%, white 15%);

    -webkit-animation-duration: 7s;
    animation-duration: 7s;
}
.loaderComponent section:nth-of-type(3){
    top: calc((3 - 1) * (100% / 6));

    fill: color-mix(in srgb, var(--dark-grey) 80%, white 15%);

    -webkit-animation-duration: 8s;
    animation-duration: 8s;
}
.loaderComponent section:nth-of-type(4){
    top: calc((4 - 1) * (100% / 6));

    fill: color-mix(in srgb, var(--dark-grey) 80%, white 15%);

    -webkit-animation-duration: 9s;
    animation-duration: 9s;
}
.loaderComponent section:nth-of-type(5){
    top: calc((5 - 1) * (100% / 6));

    fill: color-mix(in srgb, var(--dark-grey) 80%, white 15%);

    -webkit-animation-duration: 6s;
    animation-duration: 6s;
}
.loaderComponent section:nth-of-type(6){
    top: calc((6 - 1) * (100% / 6));

    fill: color-mix(in srgb, var(--dark-grey) 80%, white 15%);

    -webkit-animation-duration: 8s;
    animation-duration: 8s;
}



.loaderComponent section svg{
    width: 100%;
}

@keyframes run {
    0% {
      left: 0%;
    }
    100% { 
      left: calc((140% / 2) / 6); 
    }
}