main#credits{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2em;
    padding-top: 2em;
    color: var(--white-shade);
}

main#credits h1, main#credits h2{
    font-family: 'Inknut-Antiqua-Regular', sans-serif;
}

main#credits h1{
    font-size: 2em;
}

main#credits button{
    font-family: 'Inria-Sans-Regular', sans-serif;
    font-size: 1.25em;
    padding: 0.5em 1em;
    border: 2px solid var(--white-shade);
    border-radius: 5px;
    background-color: transparent;
    color: var(--white-shade);
    cursor: pointer;
}

main#credits button:hover{
    background-color: var(--white-shade);
    color: var(--black-shade);
    transition: background-color 0.5s, color 0.5s;
}

main#credits ul{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

main#credits ul li{
    font-family: 'Inria-Sans-Regular', sans-serif;
    font-size: 1.25em;
    text-align: center;
}